body {
    background: black;
}

#rpsButton {
    background-color: hsl(214, 100%, 50%);
    background-size: 100px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 100px;
    border-radius: 100px;
    transform-origin: center;
    transition: transform 0.3s;
    transform: translate(-50%, -50%) scale(1);
    font-size: 20px;
}

    #rpsButton:hover {
        transition: transform 0.3s;
        transform: translate(-50%, -50%) scale(1.05);
    }

#orbDefenderButton {
    background-color: hsl(214, 100%, 50%);
    background-size: 100px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 100px;
    border-radius: 100px;
    transform-origin: center;
    transition: transform 0.3s;
    transform: translate(-50%, -50%) scale(1);
    font-size: 20px;
}

    #orbDefenderButton:hover {
        transition: transform 0.3s;
        transform: translate(-50%, -50%) scale(1.05);
    }

#gamblecoreButton {
    background-color: hsl(214, 100%, 50%);
    background-size: 100px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 100px;
    border-radius: 100px;
    transform-origin: center;
    transition: transform 0.3s;
    transform: translate(-50%, -50%) scale(1);
    font-size: 20px;
}

    #gamblecoreButton:hover {
        transition: transform 0.3s;
        transform: translate(-50%, -50%) scale(1.05);
    }

#tdButton {
    background-color: hsl(214, 100%, 50%);
    background-size: 100px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 100px;
    border-radius: 100px;
    transform-origin: center;
    transition: transform 0.3s;
    transform: translate(-50%, -50%) scale(1);
    font-size: 20px;
}

    #tdButton:hover {
        transition: transform 0.3s;
        transform: translate(-50%, -50%) scale(1.05);
    }